body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-input {
    margin-bottom: 20px;
}

.canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}
